body{background:#ccc;}
.form-container{z-index: 20;box-shadow: 0px 0px 20px 1px rgba(15, 15, 15, 0.62);background: white;width: 40%;position: absolute;margin-top: 200px;margin-left: 30%;padding-bottom: 1%;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.btn-theme{background: #e43c59 !important;color: white;font-weight: bolder;}
.twenty-head{background:  #e43c59 !important;color: white;padding-top: 10px;padding-bottom: 10px;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.form-group{margin-top: 15px;margin-bottom: 15px;}
.header-content-modal{background: #e43c59 !important;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.change-color{color:#e43c59 !important;}
.change-color:hover{color:#e43c59 !important;}
.material-design{border:none;border-radius:0;border-bottom:1px solid #CCC;}
.material-design:focus{box-shadow: unset;border-bottom: 3px solid rgba(0,123,255,.25);}
@media screen and (max-width:950px){
    .form-container{width:70%;margin-left:15%;}
}
@media screen and (max-width:640px){
    .form-container{width:90%;margin-left:5%;}
}